<% provide(:title,  t("static.contact.title") ) %>

<h1> <%= t("static.contact.title") %>  </h1>
<p>
   Ismail AKBUDAK
   <a href="http://ismailakbudak.com">  <%= t("static.contact.site") %>  </a>
</p>
