

  <div class="center hero-unit">
      
    <h1> <%= t("views.home.title")  %> </h1>
    <h3>
         <%= t("views.home.description")  %>
    </h3>
    <%= link_to  t("views.home.sign") , '#', class: "btn btn-large btn-primary wd-15" %>
  </div> 