

  <div class="center hero-unit">
      
    <h1> <%= t("static.home.title")  %> </h1>
    <h3>
         <%= t("static.home.description")  %>
    </h3>
    <%= link_to  t("static.home.sign") , signup_path , class: "btn btn-large btn-primary wd-15" %>
  </div> 