

  <div class="center hero-unit">
      
    <h1> <%= t("static.home.title")  %> </h1>
    <h3>
         <%= t("static.home.description")  %>
    </h3>
    
    <% if signed_in? %>
    <% else %>
        <%= link_to  ( "<span class='img-loader hide'></span>" + t("static.home.sign") ).html_safe , 
                        signup_path , 
                        class: "btn btn-large btn-primary wd-15" %>
    <% end %>
  
  </div> 
