<footer class="footer">
	<div class="container" >
    <small>
        <a href="http://ismailakbudak.com/blog">Blog</a>
        by Ismail Akbudak    
    </small>
    <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
    </nav>
     </div>
</footer>