<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header  "> 
          <%= link_to ("<i class='glyphicon glyphicon-home' ></i> Bus-no").html_safe, 
                       root_path, 
                       :'class'          => "navbar-brand",
                       :'title'          => "Tooltip on bottom",  
                       :'data-toggle'    => "tooltip", 
                       :'data-placement' => "bottom"   %>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
           
           <!-- Tamamlanacak -->
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">Default</a></li>
                <li class="divider"></li>
                <li><a href="#">Amelia</a></li>
                <li><a href="#">Cerulean</a></li> 
              </ul>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="#">bootstrap.min.css</a></li>
                <li><a href="#">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="#">variables.less</a></li>
                <li><a href="#">bootswatch.less</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>          
              <% if I18n.locale.to_s == "en" %>
                 <%= link_to_unless  I18n.locale == :tr, ("<i class='fa fa-flag' ></i> Türkçe").html_safe,  locale: :tr %>
              <% else %>
                <%= link_to_unless I18n.locale == :en, ("<i class='fa fa-flag' ></i> English").html_safe, locale: :en %>
              <% end %>
            </li> 

          </ul>

        </div>
      </div>
    </div>
